* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.principal {
    width: 1000px;
    margin: auto;
}

header {
    width: 1000px;
    text-align: center;
    background: #ffd800;
}

.menu {
    width: 199px;
    float: left;
    
}

ul {
    margin: 0px;
    padding: 0px;
}

    ul li {
        list-style: none;
        margin: 5px 10px;
    }

        ul li ul {
            /*border: 1px solid #000;*/
        }

            ul li ul li {
                background: #ff6a00;
            }

            ul li ul a {
                text-decoration: none;
                color: #000;
            }

.conteudo {
    border: 1px solid #000;
    background: #b6ff00;
    width: 799px;
    float: left;
}
